{% extends 'base.html' %}
{% block title %}
  Cadastrar Defeito
{% endblock %}

{% block content %}
<div class="mt-2">
    <form method="post" >
        {% csrf_token %}
        <section class='container' >
            <div class='row col-12 mb-4'>
                <div class='col-12'>
                    <h5><strong style="">Cadastrar novo defeito</strong></h5>
                    <hr>
                </div>
            </div>

            <div class="mb-2 mt-2">
                <div class='text-center'>
                    <label for="nome" class='mb-0'><strong style="">Instrumento</strong></label>
                    <div class="d-flex justify-content-center">
                        <div class="">
                            {{form.instrumento}}
                        </div>
                    </div>
                </div>
            </div>

            <div class="mb-2 mt-2">
                <div class='text-center'>
                    <label for="nome" class='mb-0'><strong style="">Data do Relato</strong></label>
                    <div class="d-flex justify-content-center">
                        <div class="">
                            {{form.data_relato}}
                        </div>
                    </div>
                </div>
            </div>

            <div class="mb-2 mt-2">
                <div class='text-center'>
                    <label for="nome" class='mb-0'><strong style="">Descrição</strong></label>
                    <div class="d-flex justify-content-center">
                        <div class="">
                            {{form.descricao}}
                        </div>
                    </div>
                </div>
            </div>

            <div class="mb-5 mt-2">
                <div class='text-center'>
                    <label for="nome" class='mb-0'><strong style="">Status</strong></label>
                    <div class="d-flex justify-content-center mb-5">
                        <div class="">
                            {{form.status}}
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary mt-5" style="border-radius: 50px; font-size: 12px;"><strong>SALVAR</strong></button>
                </div>
            </div>
        </section>

    </form>
</div>
{% endblock %}