{% extends 'base.html' %}

{% block title %}
  Mants - Instrumentos
{% endblock %}

{% block content %}
  <div class="container mt-3">
    <div class="row">
      <div class="col-md-6">
        <form method="GET" action="{% url 'instrumento_listar' %}" autocomplete="off">
          <div class="input-group mb-3">
            {{ filter.form.nome }}
            <button class="btn btn-primary ml-2 d-flex align-items-center justify-content-center" style="border-radius: 50px; width: 40px; height: 40px;background-color:#00B98E; border: none;" type="submit" name="filtrar"><i class="bi bi-search mb-1 text-white"></i></button>
          </div>
        </form>
        <h4 style="color: #008667"><strong>Instrumentos</strong></h4>
      </div>
      <div class="col-md d-flex justify-content-md-end justify-content-center mt-3 mt-md-0">
        <a href="{% url 'instrumento_criar' %}" class="btn btn-primary text-white" style="border-radius: 50px; font-size: 12px; height: 30px;background-color:#00B98E; border: none;"><strong>Cadastrar instrumento</strong></a>
      </div>
    </div>

    <div class="table-responsive mt-3">
      <table class="table table-striped table-borderless">
        <thead>
          <tr class="text-center" style="color: #008667">
            <th scope="col">Nome</th>
            <th scope="col">Status</th>
            <th scope="col">Ações</th>
          </tr>
        </thead>
        <tbody>
          {% for object in object_list %}
            <tr class="text-center">
              <td>{{ object.nome }}</td>
              <td class="p-0">
                {% if object.status == 'disponivel' %}
                  <div class="d-inline-block">
                    <div class="text-white text-center" style="border-radius: 5px;background-color:#00B98E">
                      <p class="m-2">Disponível</p>
                    </div>
                  </div>
                {% elif object.status == 'reservado' %}
                  <div class="d-inline-block">
                    <div class="text-white text-center" style="border-radius: 5px; background-color: dodgerblue;">
                      <p class="m-2">Reservado</p>
                    </div>
                  </div>
                {% elif object.status == 'emprestado' %}
                  <div class="d-inline-block">
                    <div class="text-white text-center" style="border-radius: 5px; background-color: cadetblue;">
                      <p class="m-2">Emprestado</p>
                    </div>
                  </div>
                {% elif object.status == 'defeito' %}
                  <div class="d-inline-block">
                    <div class="text-white text-center bg-danger" style="border-radius: 5px;">
                      <p class="m-2">Com defeito</p>
                    </div>
                  </div>
                {% endif %}
              </td>

              <td>
                <div class="d-flex justify-content-center">
                  <a href="{% url 'instrumento_remover' object.pk %}" class="text-decoration-none mr-3" data-toggle="modal" data-target="#modalExemplo-{{ object.pk }}"><i class="bi bi-trash2-fill" style="color: #00B98E;"></i></a>
                  <a href="{% url 'instrumento_editar' object.pk %}" class="text-decoration-none"><i class="bi bi-eye-fill" style="color: #00B98E;"></i></a>

                  {% include 'instrumento/instrumento_confirm_delete.html' %}
                </div>
              </td>
            </tr>
            {% empty %}
            <tr class="text-center">
              <td colspan="3">
                <p>Não existem instrumentos cadastrados.</p>
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
{% endblock %}
