{% extends 'base.html' %}
{% block title %}
  Editar Perfil
{% endblock %}
{% block content %}

<div class="mt-2">
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <section class='container'>
            <div class='row col-12 mb-4'>
                <div class='col-12'>
                    <h5><strong style="">Editar Perfil</strong></h5>
                    <hr>
                </div>
            </div>

            <div class="mb-2 mt-2">
                <div class='text-center'>
                    <label for="nome" class='mb-0'><strong style="">Nome</strong></label>
                    <div class="d-flex justify-content-center">
                        <div class="">
                            {{form.nome}}
                        </div>
                    </div>
                </div>
            </div>

            <div class="mb-5 mt-2">
                <div class='text-center'>
                    <label for="nome" class='mb-0'><strong style="">CPF</strong></label>
                    <div class="d-flex justify-content-center mb-5">
                        <div class="">
                            {{form.cpf}}
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary mt-5" style="border-radius: 50px; font-size: 12px;"><strong>SALVAR</strong></button>
                </div>
            </div>
        </section>

    </form>
</div>
{% endblock %}