{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Sair" %}{% endblock head_title %}

{% block content %}
<span class="login100-form-title">{% trans "Sair" %}</span>

<form method="post" action="{% url 'account_logout' %}">
  {% csrf_token %}
  <div class="d-flex justify-content-center mb-4">
    <p>{% trans 'Você tem certeza que deseja sair?' %}</p>
  </div>
  {% if redirect_field_value %}
  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
  {% endif %}
  <div class="container-login100-form-btn mb-4">
    <button class="login100-form-btn" type="submit">{% trans 'Sair' %}</button>
  </div>
</form>


{% endblock content %}
