{% extends 'account/base.html' %}

{% load i18n %}
{% load account %}

{% block head_title %}
  {% trans 'Redefinição de Senha' %}
{% endblock %}

{% block content %}
  <span class="login100-form-title">{% trans 'Redefinição de Senha' %}</span>

  <div class="d-flex justify-content-center mb-4">
    {% if user.is_authenticated %}
      {% include 'account/snippets/already_logged_in.html' %}
    {% endif %}
  </div>

  <div class="d-flex justify-content-center mb-4">
    <p>
      {% blocktrans %}Enviamos um e-mail para você. Se você não recebeu, verifique sua pasta de spam. Caso contrário, entre em contato conosco se não recebê-lo em alguns minutos.{% endblocktrans %}
    </p>
  </div>
{% endblock %}
