{% extends 'account/base.html' %}

{% load i18n %}
{% block head_title %}
  {% trans 'Alterar Senha' %}
{% endblock %}

{% block content %}
  <span class="login100-form-title">
    {% if token_fail %}
      {% trans 'Bad Token' %}
    {% else %}
      {% trans 'Alterar Senha' %}
    {% endif %}
  </span>

  {% if token_fail %}
    {% url 'account_reset_password' as passwd_reset_url %}
    <div class="d-flex justify-content-center mb-4">
      <p>
        {% blocktrans %}O link de redefinição de senha era inválido, possivelmente porque já foi usado. Solicite uma <a href="{{ passwd_reset_url }}">nova redefinição de senha</a>.{% endblocktrans %}
      </p>
    </div>
  {% else %}
    <form method="POST" action="{{ action_url }}" class="password_reset_from_key mb-5">
      {% csrf_token %}
      <div class="validate-input m-b-16 br-input" data-validate="Please enter password">
        <div class="input-group d-flex justify-content-start align-items-center" style="width: 100%; border: 1px #7E121D solid; height: 50px; border-radius: 30px;">
          <div class="ml-3">{{ form.password1 }}</div>
        </div>
      </div>
      <div class="validate-input m-b-16 br-input" data-validate="Please enter password">
        <div class="input-group d-flex justify-content-start align-items-center" style="width: 100%; border: 1px #7E121D solid; height: 50px; border-radius: 30px;">
          <div class="ml-3">{{ form.password2 }}</div>
        </div>
      </div>

      <div class="container-login100-form-btn">
        <button class="login100-form-btn" type="submit" name="action">{% translate 'Alterar Senha' %}</button>
      </div>
      
    </form>
  {% endif %}
{% endblock %}
