{% extends 'account/base.html' %}

{% load i18n %}
{% load account %}

{% block head_title %}
  {% trans 'Password Reset' %}
{% endblock %}

{% block content %}
  <span class="login100-form-title">{% trans 'Redefinição de Senha' %}</span>

  <div class="d-flex justify-content-center mb-4">
    {% if user.is_authenticated %}
      {% include 'account/snippets/already_logged_in.html' %}
    {% endif %}
  </div>
  <div class="d-flex justify-content-center mb-4">
    <p>
      {% trans 'Esqueceu sua senha? Digite seu endereço de e-mail abaixo e enviaremos um e-mail permitindo que você o redefina.' %}
    </p>
  </div>

  <form method="POST" action="{% url 'account_reset_password' %}" class="password_reset">
    {% csrf_token %}
    <div class="validate-input m-b-16 br-input" data-validate="Please enter password">
      <div class="input-group d-flex justify-content-start align-items-center" style="width: 100%; border: 1px #7E121D solid; height: 50px; border-radius: 30px;">
        <div class="ml-3">{{ form.email }}</div>
      </div>
    </div>

    <div class="container-login100-form-btn">
      <button class="login100-form-btn" type="submit">{% translate 'Redefinir minha senha' %}</button>
    </div>
  </form>

  <div class="d-flex justify-content-center mb-4 mt-4">
    <p>
      {% blocktrans %}Entre em contato conosco se tiver algum problema para redefinir sua senha.{% endblocktrans %}
    </p>
  </div>
{% endblock %}
