{% extends 'base.html' %}
{% block title %}
  Cadastrar Manutenção
{% endblock %}

{% block content %}
<div class="mt-2">
    <form method="post" >
        {% csrf_token %}
        <section class='container' >
            <div class='row col-12 mb-4'>
                <div class='col-12'>
                    <h5><strong style="">Cadastrar nova manutenção</strong></h5>
                    <hr>
                </div>
            </div>

            <div class="mb-2 mt-2">
                <div class='text-center'>
                    <label for="nome" class='mb-0'><strong style="">Defeito</strong></label>
                    <div class="d-flex justify-content-center">
                        <div class="">
                            {{form.defeito}}
                        </div>
                    </div>
                </div>
            </div>

            <div class="mb-2 mt-2">
                <div class='text-center'>
                    <label for="nome" class='mb-0'><strong style="">Data de Início</strong></label>
                    <div class="d-flex justify-content-center">
                        <div class="">
                            {{form.data_inicio}}
                        </div>
                    </div>
                </div>
            </div>

            <div class="mb-2 mt-2">
                <div class='text-center'>
                    <label for="nome" class='mb-0'><strong style="">Data de Conclusão</strong></label>
                    <div class="d-flex justify-content-center">
                        <div class="">
                            {{form.data_conclusao}}
                        </div>
                    </div>
                </div>
            </div>

            <div class="mb-5 mt-2">
                <div class='text-center'>
                    <label for="nome" class='mb-0'><strong style="">Descrição do Serviço</strong></label>
                    <div class="d-flex justify-content-center mb-5">
                        <div class="">
                            {{form.descricao_servico}}
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary mt-5" style="border-radius: 50px; font-size: 12px;"><strong>SALVAR</strong></button>
                </div>
            </div>

        </section>

    </form>
</div>
{% endblock %}