{% extends 'base.html' %}
{% block title %}
  Mants - Cadastrar Manutenção
{% endblock %}

{% block content %}
  <div class="container mt-4">
    <form method="post">
      {% csrf_token %}
      <div class="row justify-content-center">
        <div class="col-md-8 col-lg-6">
          <h3 class="text-center" style="color: #008667"><strong>Cadastrar nova manutenção</strong></h3>
          <hr class="my-4" />

          <div class="form-group">
            <label for="instrumento" class="mb-0"style="color: #008667"><strong>Defeito</strong></label>
            {{ form.defeito }}
          </div>

          <div class="form-group">
            <label for="data_reserva" class="mb-0"style="color: #008667"><strong>Data de Início</strong></label>
            {{ form.data_inicio }}
          </div>

          <div class="form-group">
            <label for="data_reserva" class="mb-0"style="color: #008667"><strong>Data de Conclusão</strong></label>
            {{ form.data_conclusao }}
          </div>

          <div class="form-group">
            <label for="data_reserva" class="mb-0"style="color: #008667"><strong>Descrição do Serviço</strong></label>
            {{ form.descricao_servico }}
          </div>

          <div class="text-center mt-4">
            <button type="submit" class="btn btn-primary" style="border-radius: 50px; font-size: 14px;background-color:#00B98E; border: none;"><strong>SALVAR</strong></button>
          </div>
        </div>
      </div>
    </form>
  </div>
{% endblock %}
