{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Alterar Senha" %}{% endblock head_title %}

{% block content %}
    <span class="login100-form-title">{% trans "Alterar Senha" %}</span>

    <form method="POST" action="{% url 'password_change' %}" class="password_change mb-5">
        {% csrf_token %}
        <div class="validate-input m-b-16 br-input" data-validate="Please enter username">
          <div class="input-group d-flex justify-content-start align-items-center" style="width: 100%; border: 1px #00B98E solid; height: 50px; border-radius: 30px;">
            <div class="ml-3 d-flex align-items-center justify-content-center"><i class="bi bi-lock mr-2 mb-2" style="font-size: 25px; color:#00B98E;"></i>{{ form.old_password }}</div>
          </div>
        </div>
        <div class="validate-input m-b-16 br-input" data-validate="Please enter password">
          <div class="input-group d-flex justify-content-start align-items-center" style="width: 100%; border: 1px #00B98E solid; height: 50px; border-radius: 30px;">
            <div class="ml-3 d-flex align-items-center justify-content-center"><i class="bi bi-lock-fill mr-2 mb-2" style="font-size: 25px; color:#00B98E;"></i>{{ form.new_password1 }}</div>
          </div>
        </div>
        <div class="validate-input m-b-16 br-input" data-validate="Please enter password">
            <div class="input-group d-flex justify-content-start align-items-center" style="width: 100%; border: 1px #00B98E solid; height: 50px; border-radius: 30px;">
              <div class="ml-3 d-flex align-items-center justify-content-center"><i class="bi bi-lock-fill mr-2 mb-2" style="font-size: 25px; color:#00B98E;"></i>{{ form.new_password2 }}</div>
            </div>
          </div>
        {% if redirect_field_value %}
          <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
        {% endif %}
        <div class="container-login100-form-btn">
            <button class="login100-form-btn" type="submit" name="action">{% translate 'Alterar Senha' %}</button>
        </div>
      </form>
{% endblock content %}
