{% extends 'base.html' %}
{% block title %}
  Usuários
{% endblock %}

{% block content %}
  <div class="mt-2">
    
    <form method="GET" action="{% url 'users_listar' %}" autocomplete="off" class="mb-5">
      <section class="form container-fluid p-5x">

          <div class="mt-3">
            <div class="">
              <div class="d-flex justify-content-end align-items-center">
                <div class="mr-3">
                  {{ filter.form.username }}
                </div>
                <div class="">
                  <button class="btn btn-primary d-flex justify-content-center align-content-center" type="submit" name="filtrar" style="border-radius: 50px;">
                    <i class="bi bi-search mb-1"></i>
                  </button>
                </div>
              </div>
            </div>
          </div>
      </section>
    </form>
    <div class="d-flex justify-content-between align-items-center mb-2">
      <div>
        <h6 style="color: black;"><strong>Usuários</strong></h6>
      </div>

      <div>
        <a href="{% url 'users_criar' %}" class="btn btn-primary" id="bt1" style="border-radius: 50px; font-size: 12px;"><strong>Cadastrar usuário</strong></a>
      </div>
    </div>
    
    <div class="table-responsive">
      <table class="table table-striped table-borderless" style="border-radius: 10px;">
        <thead>
          <tr class="text-center">
            <th scope="col">Nome de Usuário</th>
            <th scope="col">Email</th>
            <th scope="col">Ações</th>
          </tr>
        </thead>
        <tbody>
          {% for object in object_list %}
            <tr class="text-center">
              <td>{{ object.username }}</td>
              <td>{{ object.email }}</td>
              <td>
                <div class="d-flex justify-content-center">
                  <a href="{% url 'users_remover' pk=object.pk %}" class=""><i class="bi bi-trash2-fill" style="color: #008667;" id="tableicon"></i></a>
                  <a href="{% url 'users_editar' pk=object.pk %}" class="ml-3"><i class="bi bi-eye-fill" style="color: #008667;" id="tableicon"></i></a>
                </div>
              </td>
            </tr>
            {% empty %}
            <tr class="text-center">
              <td colspan="5">
                <p>Não existem usuários cadastradas.</p>
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
      <span class="br-divider my-3"></span>

{% if page_obj.has_other_pages %}
    <nav>
        <ul class="pagination justify-content-center">
            {% if page_obj.has_previous %}
                <li class="page-item">
                    <a class="page-link" href="?page=1">
                        <<
                    </a>
                </li>
                <li class="page-item">
                    <a class="page-link" href="?page={{ page_obj.previous_page_number }}">
                        <
                    </a>
                </li>
            {% endif %}

            {% for page_number in page_obj.paginator.page_range %}
                {% if page_number <= page_obj.number|add:1 and page_number >= page_obj.number|add:-1 %}
                    {% if page_obj.number == page_number %}
                        <li class="page-item active">
                            <a class="page-link" href="?page={{ page_number }}">
                                {{ page_number }}
                            </a>
                        </li>
                    {% else %}
                        <li class="page-item">
                            <a class="page-link" href="?page={{ page_number }}">
                                {{ page_number }}
                            </a>
                        </li>
                    {% endif %}
                {% endif %}
            {% endfor %}

            {% if page_obj.has_next %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ page_obj.next_page_number }}">
                        >
                    </a>
                </li>
                <li class="page-item">
                    <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">
                        >>
                    </a>
                </li>
            {% endif %}
        </ul>
    </nav>
{% endif %}

<span class="br-divider my-3"></span>
    </div>
  </div>
{% endblock %}
